.underline {
  --line-width: calc(100% + var(--h3size)/3);
}

.underline a {
  position: relative;
}

.underline a::after {
  content: "";
  display: inline-block;
  height: 0.125rem;
  width: 0;
  position: absolute;
  bottom: -2px;
  left: 0;
  background-color: var(--text);
}

.underline a[aria-current=page]::after {
  width: var(--line-width);
}

.underline a:hover::after {
  content: "";
  animation-name: underline;
  animation-duration: 300ms;
  animation-fill-mode: forwards;
}

@keyframes underline {
  to {
    width: var(--line-width);
  }
}